---
import Button from './Button.astro';
const { title, treasures, count, ...rest } = Astro.props;
---

<section {...rest}>
<div class="flex justify-between items-center mb-3">
    <h2 class="text-xl">{title}</h2>
    <Button list={treasures} /> 
</div>


<div class="overflow-x-auto">
<table class="table-auto overflow-x-auto  w-full border rounded-3xl text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th class="px-6 py-2">Roll</th>
            <th class="px-6 py-2">Name</th>
            <th class="px-6 py-2">Description</th>
        </tr>
    </thead>
    <tbody>
        {treasures.map((treasure, index) => (
        <tr id={`row${index}`} class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <td class="px-6 py-2">{index+1}</td>
            <td class="px-6 py-2 whitespace-nowrap">{treasure.name}</td>
            <td class="px-6 py-2 whitespace-nowrap" style="width: 30px;">{treasure.description}</td>
        </tr>
        ))}
    </tbody>
</table>
</div>
</section>